{% extends "base.html" %}
{% block maincontent %}

<h1 class="text-2xl font-bold mb-6">Latest Updates</h1>
    
    <!-- Movie grid -->
     
    
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      <!-- Movie cards (12 placeholders) -->
       {% for eachmovie in movies %}
       
       <a href="{% url "movieview" title=eachmovie.slug %}">

           <div class="bg-white shadow rounded overflow-hidden">
               <div class="h-48 bg-gray-300"></div>
               <div class="p-3">
                   <h3 class="font-medium text-sm">{{eachmovie.title}}</h3>
                   <p class="text-xs text-gray-600">2023 • Action</p>
                </div>
            </div>
        </a>

      {% endfor %}

      
    </div>
{% endblock maincontent %}